<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="Code" label-for="code">
          <b-form-input id="code" v-model="form.code" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group label="BD" label-for="BD">
          <b-form-input
            id="BD"
            v-model="form.BD"
            placeholder="DD/MM/YYYY"
            required
          ></b-form-input>
        </b-form-group>

        <div class="row">
          <div class="column col-sm-5">
            <label>การศึกษา</label>
            <b-form-group>
              <b-form-select
                id="edu"
                v-model="form.edu"
                :options="eduOptions"
                required
              ></b-form-select>
            </b-form-group>
          </div>
          <div class="column col-sm-5">
            <label>แผนก</label>
            <b-form-select
              id="department"
              v-model="form.department"
              :options="departmentOptions"
              required
            ></b-form-select>
          </div>
        </div>
        <div class="row col-sm-5 pt-3">
          <label>เงินเดือน</label>
          <input
            type="text"
            class="form-control"
            id="salary"
            placeholder="จำนวน(บาท)"
            v-model="form.salary"
          />
        </div>
      </form>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data"
        ><b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        code: '',
        name: '',
        gender: null,
        BD: '',
        edu: '',
        department: '',
        salary: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'ชาย', text: 'ผู้ชาย' },
        { value: 'หญิง', text: 'ผู้หญิง' }
      ],
      eduOptions: [
        { text: 'Select One', value: null },
        { value: 'ม.3', text: 'ม.3' },
        { value: 'ม.6', text: 'ม.6' },
        { value: 'ป.ตรี', text: 'ป.ตรี' },
        { value: 'ป.โท', text: 'ป.โท' },
        { value: 'ป.เอก', text: 'ป.เอก' },
        { value: 'ปวช.', text: 'ปวช.' },
        { value: 'ปวส.', text: 'ปวส.' }
      ],
      departmentOptions: [
        { text: 'Select One', value: null },
        { value: 'ผู้จัดการ', text: 'ผู้จัดการ' },
        { value: 'บัญชี/การเงิน', text: 'บัญชี/การเงิน' },
        { value: 'การตลาด', text: 'การตลาด' },
        { value: 'สินค้าและบริการ', text: 'สินค้าและบริการ' },
        { value: 'การคลัง', text: 'การคลัง' },
        { value: 'บริการหลังการขาย', text: 'บริการหลังการขาย' }
      ],
      userList: [
        {
          id: 1,
          code: '60160233',
          name: 'เกริกพล ปรักเจริญ',
          gender: 'ชาย',
          BD: '12/03/2541',
          edu: 'ป.ตรี',
          department: 'ผู้จัดการ',
          salary: 100000
        },
        {
          id: 2,
          code: '60160257',
          name: 'มงคล รื่นสด',
          gender: 'ชาย',
          BD: '05/05/2541',
          edu: 'ป.ตรี',
          department: 'การตลาด',
          salary: 20000
        }
      ],
      lastId: 3,
      fields: [
        'id',
        'code',
        'name',
        'gender',
        'BD',
        'edu',
        'department',
        'salary',
        'operation'
      ]
    }
  },
  methods: {
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
      this.title = 'เพิ่มผู้ใช้ใหม่'
    },
    resetModal () {
      this.form = {
        id: -1,
        code: '',
        name: '',
        gender: null,
        BD: '',
        edu: '',
        department: '',
        salary: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modals manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
