<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="ch='a'">+</button>
        <button @click="ch='b'">-</button>
        <button @click="ch='c'">*</button>
        <button @click="ch='d'">/</button>
        
        <template v-if="ch=='a'">
                <p style=font-size:50px><span>การบวก</span></p>
        </template>
        <template v-else-if="ch=='b'">
            <p style=font-size:50px><span>การลบ</span></p>
        </template>
        <template v-else-if="ch=='c'">
            <p style=font-size:50px><span>การคูณ</span></p>
        </template>
        <template v-else>
            <p style=font-size:50px><span>การหาร</span></p>
        </template>
            
        <input type="number" v-model="num1">
        
        <template v-if="ch=='a'">
            <span>+</span>
        </template>
        <template v-else-if="ch=='b'">
            <span>-</span>
        </template>
        <template v-else-if="ch=='c'">
            <span>*</span>
        </template>
        <template v-else>
            <span>/</span>
        </template>
        <input type="number" v-model="num2">
        
        <template v-if="ch=='a'">
            <span>{{add}}</span>
        </template>
        <template v-else-if="ch=='b'">
            <span>{{del}}</span>
        </template>
        <template v-else-if="ch=='c'">
            <span>{{multi}}</span>
        </template>
        <template v-else>
            <span>{{divide}}</span>
        </template>


    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                num1:0,
                num2:0,
                result:0,
                ch: 'a'
            },
            methods: {
               
            },computed: {

                 add:function(){
                    return this.result=parseInt(this.num1)+parseInt(this.num2);

                },
                del:function(){
                    return this.result=parseInt(this.num1)-parseInt(this.num2);

                },
                multi:function(){
                    return this.result=parseInt(this.num1)*parseInt(this.num2)

                },
                divide:function(){
                    if(this.num2==0){
                        return this.result="?";
                    }else{
                        return this.result=parseInt(this.num1)/parseInt(this.num2);
                    }
                    
                }
            }
        });
    </script>
</body>
</html>