<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1> {{ begin }}</h1>
        <br>
        <template v-if="id==0">
            <div :style="{
                width:'50px',
                borderStyle: 'solid',
                borderWidth: '50px',
                color : 'green'
            }">  
            </div><br>
            <div :style="{
                width:'50px',
                borderStyle: 'solid',
                borderWidth: '50px',
                color : 'gray'
            }">  
            </div><br>
            <div :style="{
                width:'50px',
                borderStyle: 'solid',
                borderWidth: '50px',
                color : 'gray'
            }">  
            </div>
        </template>
        <template v-else-if="id==1">
            <div :style="{
                width:'50px',
                borderStyle: 'solid',
                borderWidth: '50px',
                color : 'gray'
            }">  
            </div><br>
            <div :style="{
                width:'50px',
                borderStyle: 'solid',
                borderWidth: '50px',
                color : 'yellow'
            }">  
            </div><br>
            <div :style="{
                width:'50px',
                borderStyle: 'solid',
                borderWidth: '50px',
                color : 'gray'
            }">  
            </div>
        </template>
        <template v-else>
            <div :style="{
                width:'50px',
                borderStyle: 'solid',
                borderWidth: '50px',
                color : 'gray'
            }">  
            </div><br>
            <div :style="{
                width:'50px',
                borderStyle: 'solid',
                borderWidth: '50px',
                color : 'gray'
            }">  
            </div><br>
            <div :style="{
                width:'50px',
                borderStyle: 'solid',
                borderWidth: '50px',
                color : 'red'
            }">  
            </div>
        </template>
        
        <br>
        <button @click="change()">เปลี่ยนไฟ</button>
    </div>
    
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
               begin: 'green',
               id: 0,
               Colors: [{id:0, color: 'green'},
                        { id:1, color: 'yellow'},
                        { id:2, color: 'red'}]

            },

            methods: {
                change: function () {
                    if (this.id <=1) {
                        this.id = this.id + 1
                        this.begin = this.Colors[this.id].color
                    }else{
                        this.id = this.id-2
                        this.begin = this.Colors[this.id].color

                    }

                },

            },
        })
    </script>
</body>
</html>