<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-for="x in num" 
        @click="word=x">{{x}}</button><br>
        {{ans}}{{eva}}
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                num:[0,1,2,3,4,5,6,7,8,9],
                randomN : Math.floor(Math.random() * 10),
                word : '',
                ans : ' '
            },
            methods: {
                randomNum: function(){
                   this.randomN = Math.floor(Math.random() * 10);
                }
                
            },
            computed: {
                
                eva:function(){
                    if(this.word==this.randomN){
                        this.randomNum();
                        this.ans="ถูกต้อง";
                    }else if(this.word<this.randomN){
                        this.ans="น้อยไป";
                    }
                    else if(this.word>this.randomN){
                        this.ans="มากไป";
                    }else{
                        this.ans='';
                    }
                }
            },
        });
    </script>
</body>
</html>